@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // position: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgba($grey, 0.1);
  // min-height: 100vh;
  // font-family: $Roboto;
  font-size: 1rem;
  line-height: 1.5;
  // color: $dark;

  // @include breakpoint(md) {
  //   font-size: 1.2rem;
  // }
}

#root {
  // width: 100%;
  // height: 100%;
  flex: 1;
}