@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: $Roboto;
  font-size: 1rem;
  line-height: 1.5;
  color: $dark;
}

#root {
  // width: 100%;
  height: 100%;
}