@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Raleway:ital,wght@0,200;0,400;0,500;1,200;1,300;1,500;1,800&family=Roboto:wght@100&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600&display=swap');

$Roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$rubik: 'Rubik', sans-serif;
$teko: 'Teko', sans-serif;

// Colors
$dark: rgb(29, 29, 29);
$light: rgb(255, 255, 255);
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);
$secondary: rgb(255, 255, 255);
$danger: rgb(255, 0, 0);
$success: rgb(0, 255, 0);
$warning: rgb(255, 255, 0);

// Font Sizes
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;
$font-xxxl: 3rem;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;

// Spacing
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;
$spacing-xxxl: 4rem;

// Border Radius
$border-radius: 0.25rem;
$circular-radius: 50%;
$rounded-radius: 0.5rem;

// Shadows
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
$shadow-none: none;

// Transitions
$transition: all 0.3s ease-in-out;

// Breakpoints
$breakpoint-xs: 365px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

// Z-Index
$z-index-0: 0;
$z-index-10: 10;
$z-index-20: 20;
$z-index-30: 30;
$z-index-40: 40;
$z-index-50: 50;
$z-index-auto: auto;

// Mixin
@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: #{$breakpoint-xs - 1}) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) and (max-width: #{$breakpoint-md - 1}) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) and (max-width: #{$breakpoint-lg - 1}) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) and (max-width: #{$breakpoint-xl - 1}) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (min-width: $breakpoint-xxl) {
      @content;
    }
  }
}

// Mixins
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-justify($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-center-align($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-center-justify-align($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: flex-start;
  align-items: flex-start;
}

// header height
$header-height: 3rem;
$header-height-xs: 1rem;
$header-height-sm: 2rem;
$header-height-md: 3rem;
$header-height-lg: 4rem;
$header-height-xl: 5rem;
$header-height-xxl: 6rem;

// footer height
$footer-height: 3rem;
$footer-height-xs: 1rem;
$footer-height-sm: 2rem;
$footer-height-md: 3rem;
$footer-height-lg: 4rem;
$footer-height-xl: 5rem;
$footer-height-xxl: 6rem;

// Text decoration
$text-decoration-none: none;
$text-decoration-underline: underline;
$text-decoration-overline: overline;
$text-decoration-line-through: line-through;
