@import '../../styles/variables.scss';

.footer {
  // position: sticky;
  display: flex;
  margin-top: auto;
  width: 100%;
  height: 15rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($light-blue, 0.2);

  &__first_div {
    display: flex;
    width: 35%;
    margin-top: 3rem;
    margin-left: 2rem;

    &__logo {
      margin-right: 7rem;
      img {
        width: 200px;
        height: 45px;
      }
    }

    &__links {

      &__link {
        text-decoration: none;
        color: #000;
        font-size: 15px;
      }
    }
  }

  &__second_div {
    width: 35%;
    margin-top: 3rem;

    &__links {
      margin-bottom: 6rem;

      &__text {
        text-align: center;

        &__link {
          text-decoration: none;
          color: #000;
          font-size: 15px;
          font-weight: $font-weight-boldest;
        }
      }
    }

    p {
      text-align: center;
      font-size: 12px;
    }
  }

  &__third_div {
    width: 30%;

    &__social {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 11rem;
      height: 6rem;
      justify-content: center;
      margin-top: 3rem;
      margin-left: 2rem;
      margin-right: 2rem;
      box-shadow: $shadow-gold;

      &__items {
        width: 3rem;
        height: 3rem;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $pink;
        color: $light;
      }
    }
  }
}